$color-blue : #29278a;
$color-black:#404040;
$color-white:#ffffff;
$color-gray:#ecedf1;
$color-gray-light: rgb(206, 212, 218);
$color-gray-medium:  #aaa;
$color-blue-medium: #6F94DE;
$color-primary: #{$color-blue};
// Fonts

$font-primary: 'Montserrat', sans-serif;